node_modules/
**/node_modules/

.env
.env.*
!.env.example
!**/.env.example

dist/
**/dist/
build/
**/build/
coverage/
**/coverage/
.turbo/
**/.turbo/
.next*/
**/.next*/

*.log
*.zip
.DS_Store

data/imports/*.json
data/events/*.json
data/dumps/
data_old/
*.dump
*.backup

next-env.d.ts
**/*/next-env.d.ts

# Next.js generated type files
apps/*/next-env.d.ts
